@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'RobotoFlex';
	/* https://v-fonts.com/ . */
	src: url('/fonts/RobotoFlex.ttf') format('truetype');
}

.h11y-body-font {
	font-family: 'RobotoFlex';
	font-variation-settings: 'GRAD' 53, 'XOPQ' 70, 'XTRA' 400, 'YOPQ' 25, 'YTAS' 100, 'YTDE' -305,
		'YTFI' 620, 'YTLC' 500, 'YTUC' 637, 'opsz' 23, 'slnt' 0, 'wdth' 132, 'wght' 375;
}

.h11y-body-font--bold {
	font-family: 'RobotoFlex';
	font-variation-settings: 'GRAD' 150, 'XOPQ' 70, 'XTRA' 400, 'YOPQ' 25, 'YTAS' 100, 'YTDE' -305,
		'YTFI' 620, 'YTLC' 500, 'YTUC' 637, 'opsz' 23, 'slnt' 0, 'wdth' 132, 'wght' 375;
}

body {
	font-family: 'Inter', sans-serif;
}
